<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487923714241-k7rv76c92ts63s5fm5c2ofmpr2jhfnjq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487923714241-k7rv76c92ts63s5fm5c2ofmpr2jhfnjq</string>
	<key>API_KEY</key>
	<string>AIzaSyBN5C5s4Jnws_4N-efxk4Tx0NeV7whX0IY</string>
	<key>GCM_SENDER_ID</key>
	<string>487923714241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meditab.swiftpro.swiftpro</string>
	<key>PROJECT_ID</key>
	<string>uncharted-18af1</string>
	<key>STORAGE_BUCKET</key>
	<string>uncharted-18af1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487923714241:ios:80e0bbfc297c82df3d2c40</string>
</dict>
</plist>